body {
    font-family: 'JetBrains Mono',  monospace;
    max-width: 2000px;                
    margin: auto;
    background-color: #0D1B2A;
}

.open-button {
    font-family: inherit;
    align-self: flex-start;
    background-color: #3D5AFE;
    color: #f9faf8;
    text-align: center;
    padding: 10px;
    border-radius: 8px;
    border: none;   
}

#top-most-section {   
   color: #f9faf8;
   display: flex;
   flex-direction: column;
   gap: 40px;
   padding-bottom: 20px;         
   
}

.header {
    display: flex;
    justify-content: space-between;    
    padding: 20px;        
}

.logo-text {
    font-size: 24px;    

}

.link-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.header-links {
    text-decoration: none;
    color: #C5DFF8;
    font-size: 18px;
}

a:hover {
    color: #3D5AFE;
}

.hero {
    display: flex;
    gap: 40px;
    padding: 20px;
    justify-content: space-between;      
}

.hero-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex-basis: 600px;   
    
}

.hero-title {
    font-weight: 900;
    font-size: 48px;
}

.hero-subtext {
    font-size: 18px;
    color: #C5DFF8;
}

.hero-image {
    box-shadow: 2px 4px 9px black;
}

#middle-top-section {    
    background-color: #f9faf8;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-bottom: 20px;    
}

.middle-title {
    font-size: 36px;
    font-weight: 900;
    color: #0A192F;
    padding: 20px;    
}

.middle-content {
    display: flex;
    width: 800px;   
    gap: 20px;
    justify-content: center;
    padding: 10px;             
}

.moon-roasted, .galactic-flav, .astronaut-app, .lunar-loyal {
    display: flex;
    flex-direction: column;
    gap: 10px;    
} 

.content-subtext {    
    color: #0A192F;
    font-size: 18px;
    font-weight: 225;
    text-align: center;    
}

#middle-bottom-section {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    height: 200px;
}

.quote-text {
    font-size: 36px;
    font-weight: lighter;
    color: #1F2937;
    margin-bottom: 10px;    
}

.quote-subtext {
    font-weight: bold;
    color: #1F2937;
    align-self: flex-end;
    margin: 0px;
}

#bottom-section {
    background-color: #f9faf8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.bottom-rectangle {
    display: flex;
    background-color: #3D5AFE;
    border-radius: 4px;
    width: 800px;
    margin: 20px;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.bottom-text {
    display: flex;
    flex-direction: column;
    justify-content: center;    
    color: #f9faf8;
    gap: 2px;
    padding: 30px 0px;           
}

.bottom-header, .bottom-context {
    margin: 0;    
}

.bottom-header {
    font-size: 18px;
    font-weight: bold;
}

.bottom-context {
    font-size: 14px;
    font-weight: lighter;
}

.action-button {
    font-family: inherit;
    text-align: center;
    padding: 8px 40px;
    background-color: #3D5AFE;
    border: 1px solid #f9faf8;
    border-radius: 4px;
}

.action-link:hover, .action-link, .open-link:hover, .open-link {
    color: #f9faf8;
    text-decoration: none;
}

#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f9faf8;
}

