body {
    font-family: 'JetBrains Mono',  sans-serif;            
    margin: auto;
}

button {
    font-family: inherit;
    align-self: flex-start;
    background-color: #3D5AFE;
    color: #f9faf8;
    text-align: center;
    padding: 10px;
    border-radius: 8px;
    border: none;   
}

#top-most-section {
   background-color: #0D1B2A;
   color: #f9faf8;
   display: flex;
   flex-direction: column;
   gap: 40px;
   padding-bottom: 20px;         
   
}

.header {
    display: flex;
    justify-content: space-between;    
    padding: 20px;        
}

.logo-text {
    font-size: 24px;    

}

.link-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
    color: #C5DFF8;
    font-size: 18px;
}

a:hover {
    color: #3D5AFE;
}

.hero {
    display: flex;
    gap: 40px;
    padding: 20px;
    justify-content: space-between;      
}

.hero-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex-basis: 600px;   
    
}

.hero-title {
    font-weight: 900;
    font-size: 48px;
}

.hero-subtext {
    font-size: 18px;
    color: #C5DFF8;
}

.hero-image {
    box-shadow: 2px 4px 9px black;
}

#middle-top-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;    
}

.middle-title {
    font-size: 36px;
    font-weight: 900;
    color: #0A192F;
}

.middle-content {
    display: flex;
    width: 800px;   
    gap: 20px;
    justify-content: center;         
}

.moon-roasted, .galactic-flav, .astronaut-app, .lunar-loyal {
    display: flex;
    flex-direction: column;
    gap: 10px;
}  